<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.davidradberg.pitchtrainer">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher_piano"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_piano_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.PitchTrainer">
        <activity
            android:name="com.davidradberg.pitchtrainer.MainActivity"
            android:exported="true"
            android:label="@string/app_name"
            android:theme="@style/Theme.PitchTrainer.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>